.wrap {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75.2vh;
    /* background: red; */
}
.main_div_mainPage {
    display: flex;
    flex-direction: column;
}